@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"),
    url(../fonts/Montserrat/woff2/Montserrat-Light.woff2),
    url(../fonts/Montserrat/woff/Montserrat-Regular.woff);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-weight: 800;
  font-style: normal;
  src: local("Montserrat-ExtraBold"),
    url(../fonts/Montserrat/woff2/Montserrat-ExtraBold.woff2),
    url(../fonts/Montserrat/woff/Montserrat-ExtraBold.woff);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat-ExtraBold"),
    url(../fonts/Montserrat/woff2/Montserrat-Bold.woff2),
    url(../fonts/Montserrat/woff/Montserrat-Bold.woff);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Light", sans-serif;
  font-weight: 200;
  font-style: normal;
  src: local("Montserrat-Light"),
    url(../fonts/Montserrat/woff2/Montserrat-Light.woff2) format("woff2"),
    url(../fonts/Montserrat/woff/Montserrat-Light.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "TTNoms-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local("TTNorms-Regular"),
    url(../fonts/TTNorms/TTNorms-Regular.woff) format("woff");
  font-display: swap;
}
