$accent: #ff834e;
// $defoult: #8d8d8d;
// $title: #29282d;
// $bg: #f6f6f6;
// $border: #ececec;

%Montserrat {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-weight: 400;
}

%Montserrat-300 {
  font-family: "Montserrat-Light", Arial, sans-serif;
  font-weight: 300;
}

%TTNoms {
  font-family: "TTNoms-Regular", Arial, sans-serif;
  font-weight: 400;
}

// %btn{
//     cursor: pointer;
//     padding: 12px 36px;
//     width: fit-content;
//     text-transform: uppercase;
//     color: #ffffff;
//     @extend %roboto-400;
//     background-color: $accent;
//     border: 1px solid transparent;
//     box-shadow: 7px 7px 20px #fe3e575e;
//     &:hover {
//             background-color: #ff0021;
//             border: 1px solid #ffffff;
//         }
// }

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
