$accent: #ff834e;

%Montserrat {
  font-family: "Montserrat-Regular";
}

%Montserrat-800 {
  font-family: "Montserrat-ExtraBold";
}

%Montserrat-600 {
  font-family: "Montserrat-Bold";
}

%Montserrat-300 {
  font-family: "Montserrat-Light", sans-serif;
  font-weight: 300;
}

%TTNoms {
  font-family: "TTNoms-Regular", sans-serif;
  font-weight: 400;
}

// filter: invert(0%) sepia(6%) saturate(6183%) hue-rotate(0deg) brightness(100%) contrast(77%);

// %btn{
//     cursor: pointer;
//     padding: 12px 36px;
//     width: fit-content;
//     text-transform: uppercase;
//     color: #ffffff;
//     @extend %roboto-400;
//     background-color: $accent;
//     border: 1px solid transparent;
//     box-shadow: 7px 7px 20px #fe3e575e;
//     &:hover {
//             background-color: #ff0021;
//             border: 1px solid #ffffff;
//         }
// }

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
