@import "vars";
@import "fonts";
@import "reset.scss";
@import "libs.scss";
@import "global";

// ----------------------------------- HEADER ----------------------------
.header {
  background-color: #202020;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
  }
  &__logo {
    display: flex;
    align-items: center;
    &-text {
      @extend %TTNoms;
      font-size: 11.152px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 3.345px;
      margin-left: 14px;
    }
  }
  &__phone {
    &-btn {
      color: $accent;
      font-size: 16px;
      font-weight: 300;
      border: 1px solid $accent;
      padding: 13px 26px;
      margin-right: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__nav {
    &-list {
      display: flex;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &-item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
// ----------------------------------- HEADER END -----------------------

// ----------------------------------- TOP ----------------------------

.main__top {
  position: relative;
  background-color: #202020;
  background-image: url(../images/BlumeBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-image: url(../images/Bg-filter.png);
    z-index: -1;
  }
}
.top {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    &-info {
      max-width: 58%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 180px;
    }
    &-image {
      width: 42%;
    }
  }
  &__info {
    &-brand {
      position: relative;
      color: $accent;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 30px;
      padding-left: 30px;
      &::before {
        position: absolute;
        display: block;
        content: "";
        width: 18px;
        height: 18px;
        left: 0;
        bottom: 3px;
        background-image: url(../images/icons/shopping-cart.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &-title {
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 70px;
      margin-bottom: 30px;
    }
    &-text {
      font-size: 20px;
      line-height: 26px;
    }
  }
  &__connect {
    &-text {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    &-btn {
      position: relative;
      padding: 20px 164px 20px 20px;
      background-color: $accent;
      color: #ffffff;
      &:hover {
        cursor: pointer;
        // outline: 4px solid #ff834e;
        box-shadow: 0 0 10px #ff834e;
        transition: all 0.3s;
      }
      &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
        background-color: #de774b;
        background-image: url(../images/icons/btn-arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

// ----------------------------------- TOP END ------------------------

// ----------------------------------- HowWeWork  ------------------------

.howwework {
  background-color: #202020;
  //   z-index: -5;
  &__inner {
    padding: 86px 0;
  }
  &__title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &-wraper {
    position: relative;
    display: flex;
    // height: 750px;
    padding: 160px 0 60px;
  }
  &-bg-image {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -96px;
    left: 0;
    background-image: url(../images/HowWeWork-Path.svg);
    background-position: center;
    // background-size: cover;
    background-repeat: no-repeat;
    // z-index: -2;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(../images/HowWeWork-filter.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 5;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    z-index: 5;
  }
}
.cards {
  &__item {
    text-align: center;
    margin-bottom: 110px;
    height: fit-content;
    width: 33%;
    &:hover {
      .cards__item {
        &-box {
          background-color: #ffffff;
        }
        &-num {
          color: $accent;
          opacity: 1;
        }
        &-img {
          filter: invert(0%) sepia(6%) saturate(6183%) hue-rotate(0deg)
            brightness(100%) contrast(77%);
        }
        &-link {
          text-decoration: underline;
          &::after {
            position: absolute;
            content: "+";
            width: 20px;
            height: 20px;
            top: 0;
            right: -26px;
            background-color: $accent;
            border: 1px solid #ffffff;
            border-radius: 10px;
          }
        }
      }
    }
    &-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 180px;
      border-radius: 90px;
      background-color: #1d1d1d;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &-img {
      filter: invert(66%) sepia(96%) saturate(1980%) hue-rotate(325deg)
        brightness(101%) contrast(101%);
    }
    &-num {
      position: absolute;
      @extend %Montserrat-600;
      color: #ffffff;
      opacity: 0.1;
      font-size: 118px;
      top: -64px;
      right: -34px;
      z-index: -1;
    }
    &-link {
      position: relative;
      text-transform: uppercase;
      line-height: 22px;
    }
  }
}
// ----------------------------------- HowWeWork END ------------------------

// ----------------------------------- FOOTER ----------------------------

.footer {
  background-color: #202020;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 66px 0;
  }
  &__logo {
    &-img {
      margin: auto;
      margin-bottom: 12px;
    }
    &-text {
      @extend %TTNoms;
      font-size: 11.152px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 3.345px;
      margin-left: 14px;
    }
  }
  &__address,
  &__social {
    display: flex;
    flex-direction: column;
    gap: 14px;
    @extend %Montserrat-300;
    font-size: 16px;
    font-weight: 300;
    &-title {
      @extend %Montserrat;
      font-weight: 600;
      opacity: 0.5;
    }
  }
  &__map {
    display: flex;
    align-items: center;
    &-text {
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      margin-right: 20px;
    }
    &-img {
      width: 100px;
      height: 100px;
      margin: 0 20px;
      border-radius: 50px;
    }
  }
}

// ----------------------------------- FOOTER END ----------------------------

@import "media";
